<!DOCTYPE html>
<html >
	<head>
		<meta charset="UTF-8">
		<title>Sign-Up/Login Form</title>
		<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/dropdown.css') }}">
	</head>
	<body>
		<div class="form" id="main">
			<div class="tab-content">
				<div id="signup">   
					<h1>Enter the BCNC database</h1>
					<h2 class="sub-heading" id="instruct1">Already in database? To modify existing submission click <a id="upload-key">here</a>.</h2>
					<h2 class="sub-heading" id="instruct2">Please update data that is outdated.</h2>
					<form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
						<div class="top-row">
							<div class="field-wrap">
								<label>
									First Name<span class="req">*</span>
								</label>
								<input type="name" name="inputFName" id="inputFName" class="form-control" required autocomplete="off" />
							</div>

							<div class="field-wrap">
								<label>
									Last Name<span class="req">*</span>
								</label>
								<input type="name" name="inputLName" id="inputLName" class="form-control" required autocomplete="off" />
							</div>
						</div>
						<div class="field-wrap">
							<label>
								Email Address<span class="req">*</span>
							</label>
							<input type="email" name="inputEmail" id="inputEmail" class="form-control" required autocomplete="off"/>
						</div>

						<div class = "top-row">
							<div class="field-wrap">
								<label>
									Primary Major<span class="req">*</span>
								</label>
								<input type="major" name="inputPMajor" id="inputPMajor" class="form-control" required autocomplete="off"/>

							</div>
							<div class="field-wrap">
								<label>
									Secondary Major
								</label>
								<input type="major" name="inputSMajor" id="inputSMajor" class="form-control" required autocomplete="off"/>
							</div>
						</div>
						<div class = "top-row">
							<div class="field-wrap">
								<label>
									GPA<span class="req">*</span>
								</label>
								<input type="gpa" name="inputGPA" id="inputGPA" class="form-control" required autocomplete="off"/>
							</div>
							<div class="field-wrap">
								<label>
									Graduation Year<span class="req">*</span>
								</label>
								<input type="gradYear" name="inputGradYear" id="inputGradYear" class="form-control" required autocomplete="off"/>
							</div>
						</div>
						<div class="field-wrap" id="UpdateUploadKey">
							<label>
								Upload Key<span class="req">*</span>
							</label>
							<input type="inputUploadKey" name="inputUploadKey" id="inputUploadKey" class="form-control" required autocomplete="off" />
						</div>
						<div class="field-wrap">
							<p class="dropboxtext">Files:<br>
								Select files OR drag them into the box below.</p>
								<input id="file-picker" type="file" name="file" accept="*" multiple>
								<div id="dropbox">
									<p class="dropboxtext">Drag and Drop Files Here</p>
								</div><p></p>
								<fieldset id="progress" style="display: none">
									<legend class="dropboxtext">Files Progress</legend>
									<div class="progress-trough">
										<div id="progress-bar" class="progress-bar">0%</div>
									</div>
								</fieldset><p></p>
							</div>
							<button id="upload-button" type="submit" class="button button-block"/>Submit</button>
							<div id="loader">
								<div id="loader_1" class="loader"></div>
								<div id="loader_2" class="loader"></div>
								<div id="loader_3" class="loader"></div>
								<div id="loader_4" class="loader"></div>
								<div id="loader_5" class="loader"></div>
								<div id="loader_6" class="loader"></div>
								<div id="loader_7" class="loader"></div>
								<div id="loader_8" class="loader"></div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="form" id="secondary">
			<div class="tab-content">
				<div id="signup">   
					<h1>Please enter Upload Key from previous submission</h1>
					<h2 class="sub-heading">Upload key was emailed to you during previous submission. If for some reason you cannot recover this upload key, please email contactbcnc@gmail.com</h2>
					<form id="update-form" action="{{ url_for('update') }}" method="POST" enctype="multipart/form-data">
						<div class="top-row">
							<div class="field-wrap">
								<label>
									First Name<span class="req">*</span>
								</label>
								<input type="name" name="inputFName" id="inputFName" class="form-control" required autocomplete="off" />
							</div>

							<div class="field-wrap">
								<label>
									Last Name<span class="req">*</span>
								</label>
								<input type="name" name="inputLName" id="inputLName" class="form-control" required autocomplete="off" />
							</div>
						</div>
						<div class="field-wrap">
							<label>
								Upload Key<span class="req">*</span>
							</label>
							<input type="inputUploadKey" name="inputUploadKey" id="inputUploadKey" class="form-control" required autocomplete="off" />
						</div>
						<button id="update-button" type="submit" class="button button-block"/>Submit</button>
					</form>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/uploadr.js') }}"></script>
	</body>
</html>
